.nav-items {
    padding-top: 20px;
    .nav-item {
      padding: 10px 10px;
      cursor: pointer;
      @media only screen and (max-width: 1300px) {
        padding: 25px 40px;
      }
      &:hover {
        background-color: #1acf0a;
      }
      fa-icon {
        margin-right: 10px;
        font-size: 8px;
      }
      span {
        display: inline;
        @media only screen and (max-width: 1300px) {
          display: none;
        }
      }
    }
   
  }